# bike-stats

In [197]:
import pandas as pd

In [198]:
df1 = pd.read_csv('./station.csv')
df2 = pd.read_csv('./trip.csv',error_bad_lines=False)
df3 = pd.read_csv('./weather.csv')

/home/awonkhrais/python/Data-Analysis-with-Pandas/vg-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

## 1- What is the average trip duration for a borrowed bicycle?

In [200]:
trip_durtion = df2["tripduration"].mean()
trip_durtion

1178.2956753399776

## 2- What’s the most common age of a bicycle-sharer?

In [201]:
age =df2['birthyear'].mode()
most_age= 2021 - int(age)
most_age

34

## 3- Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [1]:
month= pd.DatetimeIndex(df3['Date']).month
month
# average=df3.groupby(month).mean()["Precipitation_In"]
# average

NameError: name 'pd' is not defined

In [ ]:
median=df3.groupby(month).median()["Precipitation_In"]
median

Date
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

## 4- What’s the average number of bikes at a given bike station?

In [ ]:
avd_bike=df1["install_dockcount"].mean()
avd_bike

17.586206896551722

## 5- When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know

In [ ]:
bike_modified = df1[['install_dockcount','current_dockcount']]
bike_modified

    install_dockcount  current_dockcount
0                  18                 18
1                  16                 16
2                  16                 16
3                  14                 14
4                  20                 20
5                  18                 18
6                  20                 20
7                  20                 18
8                  20                 20
9                  18                 18
10                 16                  0
11                 16                 16
12                 18                 20
13                 16                 16
14                 16                 16
15                 16                 16
16                 18                 18
17                 28                 26
18                 16                 16
19                 18                 14
20                 16                 16
21                 18                 18
22                 30                 24
23                 12                 16
24                 18                 18
25                 18                 18
26                 16                  0
27                 20                 20
28                 16                 16
29                 18                 18
30                 18                 18
31                 18                 20
32                 18                 18
33                 18                 18
34                 18                 18
35                 12                 20
36                 20                 20
37                 18                 16
38                 20                  0
39                 12                 16
40                 20                 20
41                 20                 20
42                 18                 18
43                 18                 18
44                 16                 16
45                 16                 16
46                 16                  0
47                 12                 14
48                 18                 16
49                 12                 14
50                 20                 14
51                 16                 16
52                 18                 24
53                 18                 18
54                 18                 18
55                 18                 18
56                 16                 16
57                 18                 18

In [ ]:
result = bike_modified['current_dockcount'].sum() - bike_modified['install_dockcount'].sum()
result

-62

## 6- Come up with 3 more questions that can be answered with this data set.

## long trip

In [ ]:
long_trip = df2['tripduration'].max()
long_trip

28794.398

## max temp

In [ ]:
max_temp = df3['Max_Temperature_F'].max()
max_temp

98

## What are the top five hotter days ?

In [ ]:
top_five = df3.sort_values('Max_Temperature_F', ascending=False).head(5)[['Date','Max_Temperature_F']]
top_five

          Date  Max_Temperature_F
279  7/19/2015                 98
676  8/19/2016                 95
263   7/3/2015                 93
291  7/31/2015                 93
682  8/25/2016                 93

In [ ]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(trip_durtion, 1178.2956753399776)
    assert_equal(most_age, 34)
    assert_equal(avd_bike, 17.586206896551722)
    assert_equal(result, -62)
    assert_equal(max_temp, 98)
    assert_equal(long_trip, 28794.398)

    print("Success!!!")

test()

Success!!!