# Data Analysis with Pandas
# vg-stats data

In [15]:

import pandas as pd

In [16]:
df = pd.read_csv('./vgsales.csv')

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

## 1- Which company is the most common video game publisher?

In [17]:
most_publisher = df['Publisher'].describe().top
most_publisher

'Electronic Arts'

## 2- Whatâ€™s the most common platform?

In [18]:
most_paltform = df ['Platform'].describe().top
most_paltform

'DS'

## 3- What about the most common genre?

In [19]:
most_Genre = df ['Genre'].describe().top
most_Genre

'Action'

## 4- What are the top 20 highest grossing games?

In [20]:
highest_grossing = df[["Rank","Name" , "Global_Sales"]]
highest_grossing.head(20)

    Rank                                          Name  Global_Sales
0      1                                    Wii Sports         82.74
1      2                             Super Mario Bros.         40.24
2      3                                Mario Kart Wii         35.82
3      4                             Wii Sports Resort         33.00
4      5                      Pokemon Red/Pokemon Blue         31.37
5      6                                        Tetris         30.26
6      7                         New Super Mario Bros.         30.01
7      8                                      Wii Play         29.02
8      9                     New Super Mario Bros. Wii         28.62
9     10                                     Duck Hunt         28.31
10    11                                    Nintendogs         24.76
11    12                                 Mario Kart DS         23.42
12    13                   Pokemon Gold/Pokemon Silver         23.10
13    14                                       Wii Fit         22.72
14    15                                  Wii Fit Plus         22.00
15    16                            Kinect Adventures!         21.82
16    17                            Grand Theft Auto V         21.40
17    18                 Grand Theft Auto: San Andreas         20.81
18    19                             Super Mario World         20.61
19    20  Brain Age: Train Your Brain in Minutes a Day         20.22

## 5- For North American video game sales, whatâ€™s the median?

In [21]:
median = df[['NA_Sales']].median()
median

NA_Sales    0.08
dtype: float64

In [22]:
NA_med=df['NA_Sales'].median()
top_ten = df[df['NA_Sales'] == NA_med].head(10)
top_ten

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
446,447,Dragon Warrior IV,NES,1990.0,Role-Playing,Enix Corporation,0.08,0.00,3.03,0.01,3.12
497,498,World Soccer Winning Eleven 7 International,PS2,2003.0,Sports,Konami Digital Entertainment,0.08,1.24,1.13,0.45,2.90
1617,1619,Farming Simulator 2015,PC,2014.0,Simulation,Focus Home Interactive,0.08,1.02,0.00,0.13,1.23
1926,1928,Pro Evolution Soccer 2008,X360,2007.0,Sports,Konami Digital Entertainment,0.08,0.90,0.04,0.05,1.07
2067,2069,Winning Eleven: Pro Evolution Soccer 2007 (All...,X360,2006.0,Sports,Konami Digital Entertainment,0.08,0.90,0.02,0.00,1.00
2373,2375,Phantasy Star Portable 2,PSP,2009.0,Role-Playing,Sega,0.08,0.11,0.62,0.06,0.88
2579,2581,The Sims 2: Castaway,PSP,2007.0,Simulation,Electronic Arts,0.08,0.46,0.00,0.25,0.80
3186,3188,SingStar Queen,PS2,2009.0,Misc,Sony Computer Entertainment,0.08,0.12,0.00,0.44,0.63
3503,3505,Top Spin 3,PS3,2008.0,Action,Take-Two Interactive,0.08,0.37,0.00,0.12,0.57
3703,3705,Sonic & All-Stars Racing Transformed,PS3,2012.0,Racing,Sega,0.08,0.33,0.01,0.11,0.54

## 6- For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [23]:

df_NA=df['NA_Sales']
mean_NA = df_NA.mean()
std_NA = df_NA.std()
max_NA = df_NA.max()
z = (max_NA - mean_NA)/std_NA
z

50.47898767479108

## 7-The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [24]:
wii =df[df['Platform']=='Wii']
other=df[df['Platform'] != 'Wii']
result=(other["Global_Sales"].mean(),wii["Global_Sales"].mean())
result

(0.5233896418516336, 0.6994037735849057)


## 8- Come up with 3 more questions that can be answered with this data set.

### Top Rank in 2000

In [25]:
top_2000 = df[df['Year'] == 2000].sort_values('Rank').head(1)
top_2000

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
132,133,PokÃ©mon Crystal Version,GB,2000.0,Role-Playing,Nintendo,2.55,1.56,1.29,0.99,6.39

### what is the games in pc platform ?

In [26]:

pc_platform = df[df['Platform']=='PC']
pc_platform

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
83,84,The Sims 3,PC,2009.0,Simulation,Electronic Arts,0.98,6.42,0.0,0.71,8.11
137,138,World of Warcraft,PC,2004.0,Role-Playing,Activision,0.07,6.21,0.0,0.00,6.28
181,182,Diablo III,PC,2012.0,Role-Playing,Activision,2.43,2.15,0.0,0.62,5.20
194,195,Microsoft Flight Simulator,PC,1996.0,Simulation,Microsoft Game Studios,3.22,1.69,0.0,0.20,5.12
217,218,StarCraft II: Wings of Liberty,PC,2010.0,Strategy,Activision,2.56,1.68,0.0,0.59,4.83
...,...,...,...,...,...,...,...,...,...,...,...
16558,16561,Pro Evolution Soccer 2008,PC,2007.0,Sports,Konami Digital Entertainment,0.00,0.01,0.0,0.00,0.01
16566,16569,End of Nations,PC,2012.0,Strategy,Trion Worlds,0.01,0.00,0.0,0.00,0.01
16577,16580,Damnation,PC,2009.0,Shooter,Codemasters,0.00,0.01,0.0,0.00,0.01
16585,16588,Breach,PC,2011.0,Shooter,Destineer,0.01,0.00,0.0,0.00,0.01
16591,16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.0,0.00,0.01

### what is the last 20 ranks ?

In [27]:
last_10_ranks=df.tail(10)
last_10_ranks

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16588,16591,Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.0,0.01
16589,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.0,0.01
16590,16593,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.0,0.01
16591,16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.0,0.01
16592,16595,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.0,0.01
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01

In [28]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_publisher, 'Electronic Arts')
    assert_equal(most_paltform, 'DS')
    assert_equal(most_Genre, 'Action')
    assert_equal(highest_grossing.iloc[0].Name, 'Wii Sports')
    assert_equal(top_ten.iloc[0].Name, 'Dragon Warrior IV')
    assert_equal(z, 50.47898767479108)
    assert_equal(result, (0.5233896418516336, 0.6994037735849057))

    print("Success!!!")

test()

Success!!!